
#loadDiv{
    width:100vw;
    height:100vh;
    position:fixed;
    z-index: 99;
    background-color:black;
    background-image:url("img/load.png");
    background-repeat:no-repeat;
    background-position: center;
}
body{margin:0;padding:0;overflow:hidden -moz-hidden-unscrollable;}
#rightclick{
    position:absolute;
    width:100px;
    background-color:grey;
}
#rightclick button{
    width:100%;
    background:none;
    border:none;
    text-align:left;
    height:20px;
}
#rightclick button:hover{
    background-color:dodgerblue;
}
#rightclick p{
    padding:5px;
    font-size:15px;
    margin:0;
    text-align:center;
}
#rightclick div{
    position:absolute;
    height:100px;
    width:100px;
    background-color:grey;
    left:100px;
}
#asideholder{
    float:right;
    width:286px;
}
aside{
    height:100vh;
    width:256px;
    background-color: darkgrey;
    z-index: 1;
    position:fixed;
    padding:15px;
}
main{
    width:100vw; height:100vh;
    margin:  0; padding:  0;
    background-image:url("img/tiledbg.png");
}
.draggable{
    position:relative;
    user-select:none;
    width:256px;
    padding:12px;
    border-radius:6px;
    background-color:lightgrey;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);
}
.draggable input[type=button]{
    border-radius:5px;
    background-color: #eeeeee;
    font-weight: bold;
    color:#333333;
    float:right;
    width:192px;
}
.draggable button{
    width:12px;
    height:12px;
    padding: 0; margin:0;
    position:relative;
    background-color:green;
    border:1px solid black;
    border-radius:6px;
}
.draggable button:hover{
    background-color: #00e600;
}
.draggable button.num{background-color:blue;}
.draggable button.num:hover{background-color: #5890ff;}
.draggable img, .draggable .tmpCanvas{
    margin:0; padding:0; display:inline-block;
}
.input{
    right:48px;
    bottom:5px;
}
.output{
    left:22px;
    bottom:5px;
}
.draggable label{
    float:left;
    width:30px;
}
.draggable input[type=range]{
    float:right;
    width:192px;
}
.outLabel{
    width:240px;
    text-align:right;
    display:inline-block;
}
#controls{
    width:256px;
}